{% extends 'error_base.html.twig' %}
{% block title %}Gallery - Error{% endblock %}
{% set page_title="Se ha producido un error" %}
{% block body %}

	<h2>Opps!</h2>
	<h4>Se ha producido un error interno</h4>
	<h3>500!</h3>
	
{% endblock %}