<div class="modal fade" id="loaderModal" tabindex="-1" role="dialog" aria-labelledby="loaderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-body" style="height: 190px;">
          <div class="row">
            <div class="text-center col-12">
              <h4 id="loaderText">Cargando ...</h4>
            </div>    
            <div class="animationload">
              <div class="osahanloading"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



